
h1 {
  text-align: center;
  margin-bottom: 0;
}

.bush {
  display: table;
  width: 100px;
}

.blank-line {
  line-height: 20px;
}

.blank-line-thin {
  line-height: 4px;
}

.blank-height {
  height: 24px;
}

/* .bush-row1 {
  display: table-row
} */

/* .bush-row1-cell {
  display: table-cell
} */

.rose-button {
  padding: 0;
  width: 100%;
}

.flexbox-bushes {
  margin: auto;
  width: 75%;

  /* padding-top: 20px;
  padding-right: 50px;
  padding-left: 20px; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.picked-rose-arr {
  height: 20px;
}

.flexbox-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rules {
  text-align: left;
} 

.update {
  width: 25%;

  display: flex;
  flex-flow: row wrap;
}

.update-button {
  margin: auto;
  width: 100%;
}

.next-button {
  width: 50%;
}

.setup {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}